* {
    margin: 0;

}

h1 {
    font-size: 50px;
    font-family: Vivaldi;
    color: rgb(152, 144, 98);

}

h2 {
    font-size: 69px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    letter-spacing: 8px;
    font-weight: 600;

}

h3 {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(147, 147, 147);
    font-weight: 100;
    letter-spacing: 5px;
}

h4 {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;


}


h6 {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#ber1 {
    height: 100%;
    width: 100%;
    background-image: url(steak.jpg);
    background-size: cover;
    animation: fadeIn 5s;
    display: flex;
    justify-content: center;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.ber1-text {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.ber1-logo {
    height: 50px;
    width: 50px;
    margin-bottom: 30px;
}


.ber1-button {
    height: 60px;
    width: 300px;
    background-color: rgb(255, 255, 255);
    border: 1px solid white;
    border-radius: 30px;
    margin-top: 70px;
    text-decoration: none;

}

.ber1-button-link {
    font-size: 19px;
    color: black;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 1.5;

}



#ber2 {
    height: 65%;
    width: 100%;
    background-color: white;
    padding-top: 100px;
    padding-bottom: 0px;
    display: flex;
    justify-content: center;

}

.ber2-hintergrund {
    height: 80%;
    width: 60%;
    background-image: url(bar.jpg);
    background-size: cover;
    margin-top: 50px;
    animation: fadein 1.5s ease-out normal backwards;
    animation-delay: 800ms;
    display: flex;
    justify-content: center;
}


.ber2-text {
    height: 105%;
    width: 42%;
    background-color: rgb(24, 24, 24);
    transform: translateY(-25px);
    padding-top: 26px;
    display: flex;
    justify-content: center;

}

.ber2-text-rand {
    height: 87%;
    width: 90%;
    border: 1px dashed grey;
    padding-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


.ber2-schrift-2 {
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    letter-spacing: 0.5;
    font-weight: 100;
    margin-top: 10px;
}

.ber2-schrift-1 {
    font-size: 17px;
    color: grey;
    margin-top: 40px;
}

.ber2-logo {
    height: 40px;
    width: 40px;
}

.ber2-textfeld {
    height: 20%;
    width: 80%;
}

.ber2-portrait {
    height: 110px;
    width: 110px;
    border-radius: 200px;
    background-image: url(koch.jpg);
    background-size: cover;
    margin-top: 30px;
}

.ber2-schrift-3 {

    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(131, 124, 88);
    font-weight: 100;

}

.ber2-schrift-4 {
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    letter-spacing: 1px;
    font-weight: 500;
}

#ber3 {
    height: 40%;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ber3-text {
    height: 240px;
    width: 60%;
    background-color: white;
    display: flex;
    justify-content: space-between;
}


.ber3-h2 {

    font-size: 69px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.ber3-kreis1 {
    height: 210px;
    width: 210px;
    background-color: black;
    border-radius: 300px;
    border: 10px solid rgba(152, 144, 98, 0);
}

.ber3-kreis1-bild {
    height: 210px;
    width: 210px;
    background-image: url(sand.jpg);
    background-size: cover;
    border-radius: 300px;
    transition: 0.8s;
    border: 10px solid rgba(152, 144, 98, 0);
    display: flex;
    justify-content: center;

}


.ber3-kreis1:hover {
    height: 210px;
    width: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 300px;
    border: 10px solid rgb(113, 106, 62);
    transition: 0.8s;
    color: white;

}


.ber3-kreis2 {
    height: 210px;
    width: 210px;
    background-image: url(fleisch.jpg);
    background-size: cover;
    border-radius: 300px;

    transition: 0.8s ease-out;
    border: 10px solid rgba(152, 144, 98, 0);
}

.ber3-kreis2:hover {
    height: 210px;
    width: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 300px;
    border: 10px solid rgb(113, 106, 62);
    transition: 0.8s;
    color: white;
}

.ber3-kreis3 {
    height: 210px;
    width: 210px;
    background-image: url(salat.jpg);
    background-size: cover;
    border-radius: 300px;

    border: 10px solid rgba(152, 144, 98, 0);
    transition: 0.8s ease-out;
}

.ber3-kreis3:hover {
    height: 210px;
    width: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 300px;
    border: 10px solid rgb(113, 106, 62);
    transition: 0.8s;
    color: white;
}

.ber3-kreis4 {
    height: 210px;
    width: 210px;
    background-image: url(pasta.jfif);
    background-size: cover;
    border-radius: 300px;

    border: 10px solid rgba(152, 144, 98, 0);
    transition: 0.8s ease-out;
}

.ber3-kreis4:hover {
    height: 210px;
    width: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 300px;
    border: 10px solid rgb(113, 106, 62);
    transition: 0.8s;
    color: white;
}

#ber4 {
    height: 70%;
    width: 100%;
    background-color: gray;
    display: flex;
    justify-content: center;

}


.ber4-text {
    padding-top: 5%;
    height: 70%;
    width: 60%;
    display: flex;


}




.ber4-schrift-1 {

    color: grey;
    font-size: 18;
    margin-bottom: 15px;
    margin-top: 15px;
}

.ber4-schrift-2 {

    color: rgb(218, 218, 218);
    font-size: 18;

}

.ber4-schrift-3 {
    color: rgb(152, 144, 98);
    font-size: 22;

}

.ber4-rand {
    margin-top: 7%;
    height: 90%;
    width: 85%;
    border: 1px dashed grey;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.ber4-rand-2 {
    height: 35px;
    width: 200px;
    margin-top: 15px;

    padding-top: 15px;
    border: none;
    border-top: 1px solid grey;
}






.ber4-left {
    height: 100%;
    width: 26%;
    background-color: rgb(24, 24, 24);
    display: flex;
    justify-content: center;

}

.ber4-right {
    height: 88%;
    width: 74%;
    background-color: white;
    padding-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ber4-h2 {
    color: black;

    margin-top: 0;
    font-size: 37px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: normal;
    font-weight: 600;


}

.ber4-book {}

#ber4-number {
    height: 45px;
    width: 250px;
    border: 0px;
    border-bottom: 2px solid grey;
    margin-top: 20px;
    margin-right: 20px;
}

#ber4-date {
    height: 45px;
    width: 250px;
    border: 0px;
    border-bottom: 2px solid grey;
    margin-top: 20px;
    margin-right: 20px;

}

#ber4-time {
    height: 45px;
    width: 250px;
    border: 0px;
    border-bottom: 2px solid grey;

}

#ber4-name {
    height: 45px;
    width: 250px;
    border: 0px;
    border-bottom: 2px solid grey;
    margin-top: 20px;
    margin-right: 20px;
}

#ber4-phone {
    height: 45px;
    width: 250px;
    border: 0px;
    border-bottom: 2px solid grey;
    margin-top: 20px;
    margin-right: 20px;
}

#ber4-email {
    height: 45px;
    width: 250px;
    border: 0px;
    border-bottom: 2px solid grey;
}

.ber4-button {
    height: 50px;
    width: 180px;
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 300px;
    margin-top: 15px;
}








#ber5 {
    height: 55%;
    width: 100%;
    background-color: white;
    padding-top: 100px;

}

/* Schrifteeennnn */

.Betragüberschrift {
    color: black;
    font-size: 30px;


}

.Beitragsdaten {

    color: grey;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    margin-top: 13px;
}

.BuyTicketSchrift {
    color: rgb(70, 70, 70);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.9px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;

}

.datum-schrift-1 {
    font-size: 44px;
    color: white;
    margin-bottom: 0;

}

.datum-schrift-2 {
    font-size: 19px;
    color: white;
    margin-top: -8;

}

.ber5-logo {
    height: 40px;
    width: 40px;
}




.ber5-text {
    height: 72%;
    width: 50%;
    background-color: black;
    margin: auto;
}

/* Linke Seite */
.ber5-left {
    height: 100%;
    width: 60%;
    background-color: red;
    float: left;
}

/* Beitrag Nr 1*/

.ber5-bei1 {
    height: 50%;
    width: 100%;
    background-color: white;


}

.ber5-bei1-date {
    height: 100px;
    width: 100px;
    background-color: black;

    margin: auto;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ber5-bei1-bild {
    height: 90%;
    width: 40%;
    background-color: green;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ber5-bei1-text {
    padding-top: 50px;
    margin-left: 290px;
}

/* Beitrag Nr 2*/

.ber5-bei2 {
    height: 50%;
    width: 100%;
    background-color: white;

}

.ber5-bei2-date {
    height: 100px;
    width: 100px;
    background-color: black;
    margin: auto;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ber5-bei2-bild {
    height: 90%;
    width: 40%;
    background-color: green;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.ber5-bei2-text {
    padding-top: 50px;
    margin-left: 290px;
}

/* Rechte seite */
.ber5-right-hintergrund {

    height: 100%;
    width: 40%;
    background-image: url(bar.jpg);
    float: right;
}

.ber5-bei3-weiß {
    height: 90%;
    width: 90%;
    background-color: white;
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.ber5-right3 {
    height: 100px;
    width: 100px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.ber5-bei3-text {
    padding-top: 50px;

}

/*------------------------------------------------------------------------ berreich 6*/


#ber6 {
    height: auto;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding-top: 50px;

}

.ber6-schrift {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: first baseline;
}


.ber6-flex {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
}

.ber6-flex2 {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
}


.ber6-bild1 {
    width: 21%;
    height: 250px;
    background-image: url(nachtisch.jpg);
    background-size: cover;

}



.ber6-bild2 {
    width: 27%;
    height: 250px;
    background-image: url(wein.jpg);
    background-size: cover;

}



.ber6-bild3 {
    width: 27%;
    height: 250px;
    background-color: blue;

}



.ber6-bild4 {
    width: 21%;
    height: 250px;
    background-color: rgb(110, 110, 62);

}


.ber6-bild5 {
    width: 21%;
    height: 250px;
    background-color: pink;

}


.ber6-bild6 {
    width: 27%;
    height: 250px;
    background-color: purple;


}


.ber6-bild7 {
    width: 27%;
    height: 250px;
    background-image: url(nachtisch.jpg);
    background-size: cover;

}



.ber6-bild8 {
    width: 21%;
    height: 250px;
    background-color: rgb(109, 72, 72);

}

.ber6-button {
    height: 80px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}



#ber7 {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;

}

.ber7-button {
    height: 45px;
    width: 200px;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 300px;
    float: left;
}

.ber7-bild {
    height: 100%;
    width: 25%;
    background-image: url(koch.jpg);
    background-size: cover;

}

.ber7-text {
    height: 40%;
    width: 30%;
    background-color: white;
    margin-top: 200px;
    box-shadow: 2px 2px 2px 2px rgb(92, 92, 92);
    transform: translateX(-40px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}



#ber8 {
    height: 100%;
    width: 100%;

}

.karte {
    width: 100%;
    height: 100%;
    border: 0;
    opacity: 0.5;
}

#ber9 {
    height: 40%;
    width: 100%;
    background-color: blue;

}

.ber9-left {
    height: 100%;
    width: 50%;
    background-color: rgb(24, 24, 24);
    float: left;

}

.ber9-left-text {
    height: 50%;
    width: 60%;
    margin-top: 10%;
    float: right;
    padding-right: 20px;
}

.ber9-right {
    height: 100%;
    width: 50%;
    background-color: rgb(77, 77, 77);
    float: left;
}

.ber9-right-text {
    height: 50%;
    width: 30%;
    margin-top: 10%;
    float: left;
    padding-left: 100px;
}

.ber9-email {
    height: 45px;
    width: 300px;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    
    
    float: left;
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(255, 0, 0, 0);
    border-radius: 0.6vh;
}

.ber9-email::placeholder {
    color: grey;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;

}

.send {
    height: 30px;
    width: 30px;
    color: grey;
    float: left;
    margin-top: 20px;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    border-right: 1px solid grey;
    border-left: 0px;
    padding-top: 13px;
}

.ber9-h1 {
    color: white;
}

.ber9-h5 {
    color: grey;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.767);
    position: fixed;
    opacity: 1.0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-links {


    display: flex;
    justify-content: space-around;
    width: 100%;
    opacity: 1.0;
}

li {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 29px;
    opacity: 1.0;
    font-weight: 600;

}

.nav-links li {
    list-style: none;


}

.nav-links a {

    color: white;
    text-decoration: none;
    letter-spacing: 1px;

    transition: 1.3s ease-out;
    opacity: 1.0;

}

.nav-links a:hover {
    color: rgb(58, 58, 58);
    transition: 0.7s;
}

.test {
    font-size: 28px;
    color: white;
    padding: 10px;
}

#booking1 {
    height: 500px;
    width: 500px;
    background-color: white;
    position: absolute;

    left: 0;
    right: 0;
    margin: auto;
    padding: 10px 50px;
    display: none;
    ;
    flex-direction: column;
    box-shadow: 1px 11px 20px -3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 11px 20px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 11px 20px -3px rgba(0, 0, 0, 0.75);
}




.book-title {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(139, 139, 139);

}

label {
    font-size: 14px;
    font-weight: 300;
}

.book-Input {
    padding: 10px;
    margin: 10px 0px;
    border: none;
    border-bottom: 1px solid grey;
    font-weight: 100;
}

.book-Input::placeholder {
    color: rgb(167, 167, 167);
}

.book-time {
    height: 100px;

}

.book-button {
    position: relative;
    height: 40px;
    bottom: -90;
}

.close {
    height: 20px;
    width: 20px;
    position: absolute;
    background-color: rgb(95, 95, 95);
    color: white;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 2px;

}

@keyframes fadein {
    0% {
        margin-top: -120px;
        opacity: 0;
    }

    20% {
        margin-top: -120px;
        opacity: 0.0;
    }

    50% {
        margin-top: -120px;
        opacity: 0.0;
    }

    80% {
        opacity: 0.4;
    }

    100% {
        margin-bottom: 0px;
        opacity: 1;
    }
}

@media(max-width: 850px) {}